<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
    <title>{% block title %}台北一日遊{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/index.css')}}" />
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='css/user.css')}}" />
    {% endblock %}
</head>

<body>
    <nav>
        <div class="top">
            <div class="top-left" id="taipeibtn"><b>台北一日遊</b></div>
            <div class="top-right">
                <div class="top-right-tourbook" id="top-right-tourbook">預定行程</div>
                <div class="login-out" id="login-signin">登入/註冊</div>
                <div class="login-out hide" id="logout">登出系統</div>
            </div>
        </div>
    </nav>
    {% block main %}
    <div class="web-container">
        <div class="web-banner">
            <img class="background-img" src="{{url_for('static', filename='images/welcome.png')}}" alt="welcome-img" />
        </div>
        <div class="web-text-container">
            <div class="web-text">
                <div class="web-title"><b>輕鬆享受台北一日悠閒</b></div>
                <div class="web-subtitle">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="searchbar">
                    <input class="input" id="keyword" type="text" name="keyword" placeholder="輸入景點名稱查詢" />
                    <div class="button" id="button" type="button">
                        <img class="button-img" src="{{url_for('static', filename='images/icon_search.png')}}"
                            alt="icon_search" />
                    </div>
                </div>
                <div class="list" id="list">
                    <div class="searchlist hide" id="searchlist"></div>
                </div>
            </div>
    {% endblock %}
            <div class="verify_container">
                <div class="white_background"></div>
                <div class="black_background transition hide"></div>
                <div id="login" class="transition hide">
                    <div class="verify  verify_login" >
                        <div class="top-bar"></div>
                        <div class="verify_title" >登入會員帳號</div>
                        <input type="text" name="email" id="login_email" class="login_email  verify_input" placeholder="輸入電子信箱"/>
                        <br />
                        <input type="password" name="password" id="login_password" class="login_password verify_input" placeholder="輸入密碼" />
                        <br />
                        <button class="verify_btn verify_input" id="login_button">登入帳戶</button>
                        <div class="login_msg"></div>
                        <div class="verify_hint">還沒有帳戶？點此註冊</div>
                    </div>
                </div>
                <div id="register" class="transition hide" >
                    <div class="verify  verify_register" >
                        <div class="top-bar"></div>
                        <div class="verify_title">註冊會員帳號</div>
                        <input type="text" name="name" id="register_name" class="register_name  verify_input" placeholder="輸入姓名"/>
                        <br />
                        <input type="text" name="email" id="register_email" class="register_email verify_input" placeholder="輸入電子信箱"/>
                        <br />
                        <input type="password" name="password" id="register_password" class="register_password verify_input" placeholder="輸入密碼" />
                        <br />
                        <button class="verify_btn verify_input" id="register_button">註冊新帳戶</button>
                        <div class="register_msg"></div>
                        <div class="verify_hint">已經有帳戶了？點此註冊</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block src %}
    <div class="attraction" id="content"></div>
    {% endblock %}
    <div class="footer" id="footer">COPYRIGHT © 2022 台北一日遊</div>
    
    {% block script %}
    <script rel="stylesheet" type=text/javascript src="{{url_for('static', filename='js/index.js')}}"></script>
    {% endblock %}
</body>

</html>